---
---
body {
  background: white !important;
}
header {
  display: none !important;
}
#overview-header {
  display: none !important;
}
.green-button {
  display: none !important;
}
html, body {
  background-color: white !important;
}
h1 {
  color: black !important;
}
.main {
  border: none !important;
  margin: 0px !important;
  background-color: white !important;
  padding: 0px !important;
  width: 100% !important;
  p {
  color: black !important;
  }
}
pre {
  border: none !important;
  width: 100% !important;
  max-height: none !important;
  display: inline !important;
  background-color: white !important;
}
pre code {
    border: none !important;
    background-color: white !important;
}
code, code span {
    display: inline !important;
    border: none !important;
    background-color: white !important;
    color: black !important;
}
table {
  table-layout: fixed !important;
  color: black !important;
}

th, td {
  color: black !important;
}

td {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  word-wrap: break-word !important;
}

ol, li {
  color: black !important;
}

/* insert the actual URL after links, prepend relative links */
a[href^="/doc"]::after {
    content: " ( https://nde-devportal-docs.niketech.com" attr(href) " )";
}
a[href^="http"]::after, a[href^="https"]::after {
    content: " ( " attr(href) " )";
}
/* header: h1 text centered top except for first page, page count center bottom */
@page {
  margin: 20px;
  @top {
    content: string(doctitle,first-except);
  }
  @bottom {
    content: counter(page);
  }
  @bottom-right {
    content: "Nike Inc.";
  }
}
/* generate toc */
/* h2....page number as anchor link */
#toc a:after {
  content: leader('.') target-counter(attr(href), page);
}
#toc li {
    list-style: none;
}
/* sets h1 text to 'doctitle' variable */
h1 {
    string-set: doctitle content();
}