---
---

/* commerce docs pdf style sheet */

body {
  font-size: 14px !important;
  font-weight: lighter !important;
  background: white !important;
  color: #27262b;
}
html, body {
  background-color: white !important;
}
html * {
  font-family: Arial !important;
}
h1,h2,h3,h4,h5,h6 {
  color: black !important;
}
h1 {
  font-size: 26px !important;
  margin-top: 10px;
  margin-bottom: 10px;
}
h2 {
   font-size: 22px !important;
}
h3 {
  font-size: 18px !important;
}
h4 {
  font-size: 16px !important;
}
ul {
  list-style-image: none !important;
  list-style: disc !important;
}
ol li,
ul li {
  font-size: 14px !important;
  color: #27262b !important;
}
ol li a,
ul li a {
  text-decoration: none !important;
}
hr {
  border-top: solid 1px #d7d7d9 !important;
  background: none !important;
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}
/* prince can't find the nike-glyphs so suppress */
[class*=g72] {
  display:none !important;
}
/* blue border */
blockquote {
  border-left: 3px solid #5f78b3 !important;
  padding: 10px !important;
  margin: 15px !important;
  word-wrap: break-word !important;
  font-size: 12px !important;
}
/* suppress side-bar display */
header {
  display: none !important;
}
/* suppress search bar display */
#overview-header {
  display: none !important;
}
/* suppress header button */
.green-button {
  display: none !important;
}
/* inline code */
code, code span {
    text-shadow: none;
    font-family: "SFMono-Regular",menlo,consolas,monospace !important;
    color: #5c5962 !important;
    padding: 0.2em 0.15em;
    font-weight: 400;
    background-color: #f5f6fa !important;
    border: 1px solid #eeebee;
    border-radius: 2px;
    font-size: 0.75em;
    line-height: 1.4;
}
/* code block */
pre {
  width: 100% !important;
  max-height: none !important;
  background-color: #f5f6fa !important;
  box-shadow: none !important;
  border-radius: 2px !important;
  border: 1px solid #888 !important;

  code {
    text-shadow: none;
    font-family: "SFMono-Regular",menlo,consolas,monospace !important;
    color: #5c5962 !important;
    padding: 0.2em 0.15em;
    font-weight: 400;
    font-size: 0.75em;
    line-height: 1.4;
    border: none;
    border-radius: 0px;
    overflow-wrap: anywhere;
  }
}
/* blue links */
a {
  color: #5f78b3 !important;
  text-decoration: none !important;
}
table {
  table-layout: fixed !important;
  color: #27262b !important;
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5rem;
  overflow-x: auto;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgb(0, 0, 12), 0 3px 10px rgb(0, 0, 8);
}
th, td {
  color: #27262b !important;
}
td {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  word-wrap: break-word !important;
}
.main {
  border: none !important;
  margin: 0px !important;
  background-color: white !important;
  padding: 0px !important;
  width: 100% !important;
  p {
    color: black !important;
  }
}
/* header: title text right-top */
/* footer: page count center bottom, Nike Inc. bottom-right */
@page {
  font-family: Arial;
  font-size: 14px;
  @top-right {
    content: string(doctitle,first-except);
    font-variant: small-caps;
    margin-top: 7px;
  }
  @bottom {
    content: counter(page);
    margin-bottom: 7px;
  }
  @bottom-right {
    content: "Nike Inc.";
    margin-bottom: 7px;
  }
}
@page:first {
  @top-right {
    content: ""
  }
}
/* generate toc at beginning of pdf */
/* h2....page number as anchor link */
#toc a:after {
  content: leader('.') target-counter(attr(href), page);
}
#toc li {
    list-style: none;
}
#toc li a {
  text-decoration: none !important;
}
/* set h1 text to 'doctitle' variable */
h1 {
    string-set: doctitle content();
}