<!-- This is a work in progress on APID-424 -->
<div>
    <h2>Next Steps</h2>

    {%- assign maxRelated = 5 -%}
    {%- assign minCommonTags = 1 -%}
    {%- assign maxRelatedCounter = 0 -%}

    <ol>
        {%- for doc in site.html_pages -%}
        {%- assign sameTagCount = 0 -%}
        {%- assign commonTags = '' -%}
            {%- if page.category contains 'overview' and doc.tags contains 'ns-overview' and page.url != doc.url -%}
            {%- elsif page.category contains 'use-case' and doc.tags contains 'ns-use-case' and page.url != doc.url -%}
            {%- assign sameTagCount = sameTagCount | plus: 1 -%}
            {%- endif -%}

            {%- if sameTagCount >= minCommonTags -%}

            <li>
                <a href="{{- doc.url -}}">{{- doc.ns-title -}}</a>
            </li>

            {%- assign maxRelatedCounter = maxRelatedCounter | plus: 1 -%}
            {%- if maxRelatedCounter >= maxRelated -%}
            {%- break -%}
            {%- endif -%}
            {%- endif -%}
        {%- endfor -%}
    </ol>
</div>