---
title: Search
sitemap: false
permalink: /search/
---

<div class="search-page">
	<h2>Search Results</h2>

	<p><span id="search-process">Loading</span> results <span id="search-query-container" style="display: none;">for "<strong id="search-query"></strong>"</span></p>
	<ul id="search-results"></ul>
</div>

<script>
	window.data = {
		{%- for item in site.pages -%}
				{%- if item.title -%}
					{%- unless item.excluded_in_search -%}
						{%- if added -%},{%- endif -%}
						{%- assign added = false -%}
						"{{ item.id | slugify }}": {
							"id": "{{ item.id | slugify }}",
							"title": "{{ item.title | xml_escape }}",
							"category": "{{ item.category | xml_escape }}",
							"url": "{{ item.url | xml_escape }}",
							"content": {{ item.content | markdownify | strip_html | remove: "{% include dev-header.html" | remove: "{% include ref-header.html" | remove: "{% include overview-header.html" | jsonify }}
						}
						{%- assign added = true -%}
					{%- endunless -%}
				{%- endif -%}
		{%- endfor -%}
	};
</script>
<script src="{{ site.baseurl }}/js/lunr.min.js"></script>
<script src="{{ site.baseurl }}/js/search.js"></script>
