<!-- Header for all pages, includes search bar and Slack button. Included in /_layouts/two-column.html -->

<div class="ncss-container" id="overview-header" xmlns="http://www.w3.org/1999/html">
    <nav><ul>
        <li class="header-title"><h3><a href="{{ 'index.html' | relative_url }}" >Commerce Docs</a></h3></li>
        <li class="search">
            <form action= {{"/search/index.html" | relative_url }} method="get">
                <input type="text" name="q" id="search-input" placeholder="Search">
                <input type="submit" value="Search" style="display: none;">
            </form>
        </li>
        <li class="slack">
            <a class="guide-button body-2" href="{{ 'contributing.html' | relative_url }}">Contribute&nbsp;&nbsp;</a>
        </li>
        <li class="slack">
            <a class="guide-button body-2" href="https://developer.niketech.com" target="_blank">Dev Portal&nbsp;&nbsp;</a>
        </li>
        <li class="slack">
            <a class="guide-button body-2" href="slack://channel?team=T0G3T5X2B&id=C6A18NT7W">Slack&nbsp;&nbsp;</a>
        </li>
    </ul>
    </nav>
</div>
