<!-- Header for all pages, includes search bar and Slack button. Included in /_layouts/two-column.html -->

<div class="ncss-container" id="overview-header" xmlns="http://www.w3.org/1999/html">
    <nav>
        <ul>
            <li class="header-title"><h3><a href="{{ 'index.html' | relative_url }}">Docs Portfolio</a></h3></li>
            <li class="search">
                {% include search-lunr.html %}
            </li>
        </ul>
    </nav>
</div>

{%- if page.category contains 'a-overview' -%}
{%- include overview-header.html -%}
<hr/>
{%- elsif page.category contains 'b-use-case' -%}
{%- include dev-header.html -%}
<hr/>
{%- elsif page.category contains 'd-reference' or page.category contains '0-get-started' -%}
{%- include ref-header.html -%}
<hr/>
{%- else -%}
{%- endif -%}