<!-- Main landing page for site, included in /index.md -->
<div class="ncss-container ta-sm-c">
    <div class="wrapper">
        <h5>Speed up your integration with Consumer and Marketplace's commerce cloud APIs and other
            technology products using this collection of use-case guides.</h5>
        <b>Popular Links</b>: <a href="doc/getting-started/using-nike-apis.html">Using Nike APIs</a> | <a href="doc/commerce/product/use-product-feeds.html">Using Product Feeds</a> | <a href="doc/commerce/checkout/overview-checkout.html">Cart & Checkout Overview</a> | <a href="doc/commerce/checkout/use-checkout.html">Using Checkout</a> | <a href="doc/portal/overview-doc-team.html">Need Docs?</a>
        <div class="ncss-row" style="margin: 10px 0px 0px 0px;">
            <div class="ncss-col-sm-6 ta-sm-c va-sm-t tile">
                <div class="group-header"><i class="fas fa-play-circle fa-2x"></i><h4>Get Started</h4></div>
                <div class="tile-desc"><a href="doc/getting-started/using-nike-apis.html">Using Nike APIs</a></div>
                <div class="tile-desc"><a href="https://cuddly-sniffle-c799ad24.pages.github.io/" >Nike API Standards</a></div>
            </div>
            <div class="ncss-col-sm-6 ta-sm-c va-sm-t tile">
                <div class="group-header"><i class="fas fa-map fa-2x"></i><h4>Browse</h4></div>
                <div class="tile-desc"><a href="doc/commerce/product/overview-product-feeds.html">Product Feeds</a></div>
                <div class="tile-desc"><a href="doc/commerce/product/overview-rollup-threads.html">Rollup Threads</a></div>
                <div class="tile-desc"><a href="doc/commerce/product/use-merch-product.html">Merch Products</a></div>
            </div>
            <div class="ncss-col-sm-6 ta-sm-c va-sm-t tile">
                <div class="group-header"><i class="fas fa-shopping-cart fa-2x"></i><h4>Shop</h4></div>
                <div class="tile-desc"><a href="doc/commerce/checkout/use-wishlists.html">Wishlists</a></div>
                <div class="tile-desc"><a href="doc/commerce/checkout/overview-checkout.html">Cart & Checkout</a></div>
                <div class="tile-desc"><a href="doc/commerce/checkout/overview-fulfillment-offerings.html">Fulfillment Offerings</a></div>
                <div class="tile-desc"><a href="doc/commerce/payment/overview-payment.html">Payment</a></div>
                <div class="tile-desc"><a href="doc/commerce/checkout/use-address.html">Address Tools</a></div>
            </div>
            <div class="ncss-col-sm-6 ta-sm-c va-sm-t tile">
                <div class="group-header"><i class="fas fa-search fa-2x"></i><h4>Discover</h4></div>
                <div class="tile-desc"><a href="doc/commerce/search/use-search.html">Search</a></div>
            </div>
            <div class="ncss-col-sm-6 ta-sm-c va-sm-t tile">
                <div class="group-header"><i class="fas fa-palette fa-2x"></i><h4>Design</h4></div>
                <div class="tile-desc"><a href="doc/commerce/customization/overview-customization.html">Customization UX</a></div>
                <div class="tile-desc"><a href="doc/commerce/customization/builder-reference.html">Builder Reference</a></div>
            </div>
            <div class="ncss-col-sm-6 ta-sm-c va-sm-t tile">
                <div class="group-header"><i class="fas fa-list-ul fa-2x"></i><h4>Self-Service</h4></div>
                <div class="tile-desc"><a href="doc/commerce/order/overview-order.html">Consumer Order History</a></div>
                <div class="tile-desc"><a href="doc/commerce/mobile/post-purchase/overview-order.html">Mobile Order History</a></div>
            </div>
            <div class="ncss-col-sm-6 ta-sm-c va-sm-t tile">
                <div class="group-header"><i class="fas fa-users fa-2x"></i><h4>UX</h4></div>
                <div class="tile-desc"><a href="doc/commerce/uxf/overview-uxf.html">UX Foundation</a></div>
            </div>
            <div class="ncss-col-sm-6 ta-sm-c va-sm-t tile">
                <div class="group-header"><i class="fas fa-toolbox fa-2x"></i><h4>Tools</h4></div>
                <div class="tile-desc"><a href="https://adminops.prod.commerce.nikecloud.com/launchadminv2" >Launch Admin</a></div>
                <div class="tile-desc"><a href="https://adminops-int.prod.commerce.nikecloud.com/apollov1" >Search Admin</a></div>
                <div class="tile-desc"><a href="doc/commerce/uxf/overview-uxf.html">NCSS</a></div>
                <div class="tile-desc"><a href="doc/globalization/overview-bodega/overview-bodega.html">Bodega</a></div>
            </div>
            <div class="ncss-col-sm-6 ta-sm-c va-sm-t tile">
                <div class="group-header"><i class="fas fa-code fa-2x"></i><h4>Libraries</h4></div>
                <div class="tile-desc"><a href="doc/commerce/uxf/overview-uxf.html">NES</a></div>
                <div class="tile-desc"><a href="doc/commerce/uxf/overview-uxf.html">Global Nav</a></div>
                <div class="tile-desc"><a href="doc/commerce/uxf/overview-podium-design-system.html">Podium Consumer</a></div>
            </div>
            <div class="ncss-col-sm-6 ta-sm-c va-sm-t tile">
                <div class="group-header"><i class="fas fa-book-open fa-2x"></i><h4>Reference</h4></div>
                <div class="tile-desc"><a style="display:inline-block" href="doc/commerce/reference/reference.html">Explore reference info across multiple domains.</a></div>
            </div>
            <div class="ncss-col-sm-6 ta-sm-c va-sm-t tile">
                <div class="group-header"><i class="far fa-comments fa-2x"></i><h4>Community</h4></div>
                <div class="tile-desc"><a href="https://engineering-blog.nikecloud.com">Engineering Blog</a></div>
                <div class="tile-desc"><a href="https://github.com/nike-internal/platform-eng-handbook/">COP Playbook</a></div>
                <div class="tile-desc"><a href="https://nike-inc.github.io/">Nike OSS</a></div>
            </div>
        </div>
    </div>
</div>