<!-- Main landing page for site, included in /index.md -->
<div class="ncss-container ta-sm-c">
    <div class="wrapper">
        <h5>Welcome to the Docs Portfolio, which demonstrates technical writing samples in a working documentation
            site.</h5>
        <b>Popular Links</b>: <a href="doc/getting-started/using-apis.html">Using APIs</a> | <a
            href="doc/commerce/product/use-product-feeds.html">Using Product Feeds</a> | <a
            href="doc/commerce/checkout/overview-checkout.html">Cart & Checkout Overview</a> | <a
            href="doc/commerce/checkout/use-checkout.html">Using Checkout</a> |
        <div class="ncss-row" style="margin: 10px 0px 0px 0px;">
            <div class="ncss-col-sm-6 ta-sm-c va-sm-t tile">
                <div class="group-header"><i class="fas fa-play-circle fa-2x"></i><h4>Get Started</h4></div>
                <div class="tile-desc"><a href="doc/getting-started/using-apis.html">Using APIs</a></div>
            </div>
            <div class="ncss-col-sm-6 ta-sm-c va-sm-t tile">
                <div class="group-header"><i class="fas fa-map fa-2x"></i><h4>Overviews</h4></div>
                <div class="tile-desc"><a href="doc/commerce/product/overview-product-feeds.html">Product Feeds</a>
                    <div class="tile-desc"><a href="doc/commerce/checkout/overview-checkout.html">Cart & Checkout</a>
                    </div>
                </div>
            </div>
            <div class="ncss-col-sm-6 ta-sm-c va-sm-t tile">
                <div class="group-header"><i class="fas fa-shopping-cart fa-2x"></i><h4>Developer's Guides</h4></div>
                <div class="tile-desc"><a href="doc/commerce/product/use-product-feeds.html">Product Feeds</a>
                    <div class="tile-desc"><a href="doc/commerce/customization/use-customization.html">Customization</a>
                    </div>
                    <div class="tile-desc"><a href="doc/commerce/checkout/use-checkout.html">Checkout</a></div>
                    <div class="tile-desc"><a href="doc/commerce/checkout/use-fulfillment-offerings.html">Fulfillment
                        Offerings</a>
                    </div>
                </div>
            </div>
            <div class="ncss-col-sm-6 ta-sm-c va-sm-t tile">
                <div class="group-header"><i class="fas fa-shopping-cart fa-2x"></i><h4>Reference</h4></div>
                <div class="tile-desc"><a href="doc/commerce/customization/builder-reference.html">Builder
                    Reference</a>
                </div>
                <div class="tile-desc"><a href="doc/commerce/reference/caller-best-practices.html">Caller Best
                    Practices</a>
                </div>
                <div class="tile-desc"><a href="doc/commerce/reference/glossary.html">Glossary</a>
                </div>
            </div>
        </div>
    </div>
</div>