<!-- Main landing page for site, included in /index.md -->
<div class="ncss-container ta-sm-c">
    <div class="wrapper">
        <h5>Speed up your integration with Consumer and Marketplace's commerce cloud APIs and other
            technology products using this collection of use-case guides.</h5>
        <b>Popular Links</b>: <a href="doc/getting-started/using-nike-apis.html">Using Nike APIs</a> | <a href="doc/commerce/product/use-product-feeds.html">Using Product Feeds</a> | <a href="doc/commerce/checkout/overview-checkout.html">Cart & Checkout Overview</a> | <a href="doc/commerce/checkout/use-checkout.html">Using Checkout</a> | <a href="doc/portal/overview-doc-team.html">Need Docs?</a>
        <div class="ncss-row" style="margin: 10px 0px 0px 0px;">
            <div class="ncss-col-sm-6 ta-sm-c va-sm-t tile">
                <div class="group-header"><i class="fas fa-play-circle fa-2x"></i><h4>Get Started</h4></div>
                <a href="doc/getting-started/using-nike-apis.html"><div class="tile-desc">Using Nike APIs</div></a>
                <a href="https://confluence.nike.com/display/NEA/API+Standards" target="new-tab"><div class="tile-desc">API Standards</div></a>
                <a href="https://github.nike.com/nde-architecture/principles" target="new-tab"><div class="tile-desc">Architecture Principles</div></a>
            </div>
            <div class="ncss-col-sm-6 ta-sm-c va-sm-t tile">
                <div class="group-header"><i class="fas fa-map fa-2x"></i><h4>Browse</h4></div>
                <a href="doc/commerce/product/overview-product-feeds.html"><div class="tile-desc updated-indicator">Product Feeds</div></a>
                <a href="doc/commerce/product/overview-rollup-threads.html"><div class="tile-desc">Rollup Threads</div></a>
                <a href="doc/commerce/product/use-merch-product.html"><div class="tile-desc">Merch Products</div></a>
            </div>
            <div class="ncss-col-sm-6 ta-sm-c va-sm-t tile">
                <div class="group-header"><i class="fas fa-shopping-cart fa-2x"></i><h4>Shop</h4></div>
                <a href="doc/commerce/checkout/use-wishlists.html"><div class="tile-desc">Wishlists</div></a>
                <a href="doc/commerce/checkout/overview-checkout.html"><div class="tile-desc updated-indicator">Cart & Checkout</div></a>
                <a href="doc/commerce/payment/overview-payment.html"><div class="tile-desc"><span class="updated-indicator">Payment</span></div></a>
                <a href="doc/commerce/checkout/overview-fulfillment-offerings.html"><div class="tile-desc">Fulfillment Offerings</div></a>
                <a href="doc/commerce/checkout/use-address.html"><div class="tile-desc">Address Tools</div></a>
            </div>
            <div class="ncss-col-sm-6 ta-sm-c va-sm-t tile">
                <div class="group-header"><i class="fas fa-search fa-2x"></i><h4>Discover</h4></div>
                <a href="doc/commerce/search/use-search.html"><div class="tile-desc">Search</div></a>
            </div>
            <div class="ncss-col-sm-6 ta-sm-c va-sm-t tile">
                <div class="group-header"><i class="fas fa-palette fa-2x"></i><h4>Design</h4></div>
                <a href="doc/commerce/customization/overview-customization.html"><div class="tile-desc">Customization UX</div></a>
                <a href="doc/commerce/customization/builder-reference.html"><div class="tile-desc">Builder Reference</div></a>
            </div>
            <div class="ncss-col-sm-6 ta-sm-c va-sm-t tile">
                <div class="group-header"><i class="fas fa-list-ul fa-2x"></i><h4>Self-Service</h4></div>
                <a href="doc/commerce/order/overview-order.html"><div class="tile-desc updated-indicator">Order History</div></a>
            </div>
            <div class="ncss-col-sm-6 ta-sm-c va-sm-t tile">
                <div class="group-header"><i class="fas fa-users fa-2x"></i><h4>UX</h4></div>
                <a href="doc/commerce/uxf/overview-uxf.html"><div class="tile-desc updated-indicator">UX Foundation</div></a>
            </div>
            <div class="ncss-col-sm-6 ta-sm-c va-sm-t tile">
                <div class="group-header"><i class="fas fa-sitemap fa-2x"></i><h4>Taxonomy</h4></div>
                <a href="doc/taxonomy/overview-taxonomy-tagging.html"><div class="tile-desc">TTAC</div></a>
            </div>
            <div class="ncss-col-sm-6 ta-sm-c va-sm-t tile">
                <div class="group-header"><i class="fas fa-toolbox fa-2x"></i><h4>Tools</h4></div>
                <a href="https://adminops.prod.commerce.nikecloud.com/launchadminv2/search" target="new-tab"><div class="tile-desc">Launch Admin</div></a>
                <a href="https://adminops-int.prod.commerce.nikecloud.com/apollov1" target="new-tab"><div class="tile-desc">Search Admin</div></a>
                <a href="doc/commerce/uxf/overview-uxf.html"><div class="tile-desc">NCSS</div></a>
            </div>
            <div class="ncss-col-sm-6 ta-sm-c va-sm-t tile">
                <div class="group-header"><i class="fas fa-code fa-2x"></i><h4>Libraries</h4></div>
                <a href="doc/commerce/search/nacl.html"><div class="tile-desc">Admin Client Library</div></a>
                <a href="doc/commerce/uxf/overview-uxf.html"><div class="tile-desc">NES</div></a>
                <a href="doc/commerce/uxf/overview-uxf.html"><div class="tile-desc">Global Nav</div></a>
            </div>
            <div class="ncss-col-sm-6 ta-sm-c va-sm-t tile">
                <div class="group-header"><i class="fas fa-book-open fa-2x"></i><h4>Reference</h4></div>
                <a style="display:inline-block" href="doc/commerce/reference/reference.html"><div class="tile-desc">Explore reference info across multiple domains.</div></a>
            </div>
            <div class="ncss-col-sm-6 ta-sm-c va-sm-t tile">
                <div class="group-header"><i class="far fa-comments fa-2x"></i><h4>Community</h4></div>
                <a href="https://pages.github.nike.com/comm/internal-blog/" target="new-tab"><div class="tile-desc">Engineering Blog</div></a>
                <a href="https://cop-playbook.niketech.com/" target="new-tab"><div class="tile-desc">COP Playbook</div></a>
                <a href="https://nike-inc.github.io/" target="new-tab"><div class="tile-desc">Nike OSS</div></a>
            </div>
        </div>
    </div>
</div>