<!-- Persistent left-side sidebar navigation. Displays doc category (e.g. "b-template" as set in the front matter at the top of
each markdown doc), then displays doc title, then displays all the h2's in the doc. Note that the topmost anchor link to
Slack in <section> has an empty href. Either update with your own Slack link or delete the entire line.  -->

<div id="sidebar" class="sidebar">
    <section>
        <h6><a href="/docs-portfolio/doc/portal/about.html"><i class="fas fa-info-circle fa-lg"></i>&nbsp;<span class="gray-nav-item">About</span></a></h6>
        {%- assign grouped_pages = site.pages | group_by: "category" | sort: "name" -%}
        {%- for sorted_cats in grouped_pages -%}
        {%- if sorted_cats.name != "" -%}
        <h6><span name="{{ sorted_cats.name}}" class="toggle">{%- if sorted_cats.name == "b-use-case" -%}<a href="#"><i
                class="fas fa-map"></i>  <span class="gray-nav-item">Developer's Guides</span></a>{%- elsif sorted_cats.name == "a-overview" -%}<a href="#"><i
                class="fas fa-cogs"></i>  <span class="gray-nav-item">Overviews</span></a>{%- elsif sorted_cats.name == "0-get-started" -%}<a href="#"><i
                class="fas fa-play-circle"></i> <span class="gray-nav-item">Get Started</span></a>{%- elsif sorted_cats.name == "d-reference" -%}<a href="#"><i
                class="fas fa-book-open"></i>  <span class="gray-nav-item">Reference</span></a>{%- endif -%}</span></h6>
        <ul id="{{ sorted_cats.name }}"
            class="{%- if sorted_cats.name != page.category -%}hide{% else %}show{%- endif -%}">
            {%- assign docs = sorted_cats.items | sort: "position" -%}
            {%- for doc in docs -%}
            {%- if doc.status != "retired" and (doc.category == "a-overview" or doc.category == "b-use-case" or
            doc.category == "0-get-started" or doc.category == "d-reference") -%}
            <li>
                <a href="/docs-portfolio{{- doc.url -}}" class="{%- if doc.url == page.url -%}active{%- endif -%}">
                    {{- doc.title -}}
                    {%- if doc.type -%}<span class="endpoint {{- doc.type -}}"></span>{%- endif -%}
                </a>
                {%- if doc.url == page.url and doc.toc and doc.toc[0] -%}
                <ul>
                    {%- for firstlevel in doc.toc -%}
                    <li>
                        <a href="{{- firstlevel.url -}}"
                           class="{%- if page.url == firstlevel.url -%}active{%- endif -%}">{{- firstlevel.h2 -}}</a>
                    </li>
                    {%- if firstlevel.subheadings[0] -%}
                    <ul>
                        {%- for secondlevel in firstlevel.subheadings -%}
                        <li>
                            <a href="{{- secondlevel.url -}}"
                               class="{%- if page.url == secondlevel.url -%}active{%- endif -%}">{{-
                                secondlevel.h3-}}</a>
                        </li>
                        {%- endfor -%}
                    </ul>
                    {%- endif -%}
                    {%- endfor -%}
                </ul>
                {%- endif -%}
            </li>
            {%- endif -%}
            {%- endfor -%}
        </ul>
        {%- else -%}{%- endif -%}
        {%- endfor -%}
    </section>
</div>