<div id="steps" class="ncss-container">
    <div class="ncss-row">
        <div class="ncss-col-sm-12">
            <div class="d-md-flx flx-wr-md-w flx-ai-md-c va-md-c ta-md-c">
                <a class="flex-child ncss-cta-primary-light steps steps-hide" href="{{ "/doc/sample-use-case.html#step-1-do-a-thing"
                | absolute_url }}">
                Step 1: Do a Thing</a>
                <i class="flex-child fas fa-arrow-right steps-hide"></i>
                <a class="flex-child ncss-cta-primary-light steps steps-hide" href="{{ "/doc/sample-use-case.html#step-2-do-another-longer-thing"
                | absolute_url }}">
                Step 2: Do Another Longer Thing </a>
                <i class="flex-child fas fa-arrow-right steps-hide"></i>
                <a class="flex-child ncss-cta-primary-light steps steps-hide" href="{{ "/doc/sample-use-case.html#step-3-do-thing-3"
                | absolute_url }}">
                Step 3: Do Thing 3</a>
                <i class="flex-child fas fa-arrow-right steps-hide"></i>
                <a class="flex-child ncss-cta-primary-light steps steps-hide" href="{{ "/doc/sample-use-case.html#step-4-do-stuff"
                | absolute_url }}">
                Step 4: Do Stuff</a>
            </div>
        </div>
    </div>
</div>