<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/main.js"></script>
    <script src="{{ site.baseurl }}/js/nde.js"></script>
    <link rel="stylesheet" href="//assets.commerce.nikecloud.com/ncss/glyphs/2.3/css/glyphs.min.css"/>
    <link rel="stylesheet" href="//assets.commerce.nikecloud.com/ncss/1.0/dotcom/desktop/css/ncss.en-us.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/aviator-two-column.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/nde.css">
</head>
<body>
<div class="main">
    {{ content }}
</div>
<header>
    <form action="{{ site.baseurl }}/search/index.html" method="get">
        <input type="text" name="q" id="search-input" placeholder="Search">
        <input type="submit" value="Search" style="display: none;">
    </form>
    {% include sidebar.html %}
</header>
</body>
</html>
