---
---
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap:break-word;
}
body {
    padding: 20px;
    width: 100%;
    font-size: 14px;
    }
    @media (max-width: 600px) {
    body {
        padding: 0px;
        font-size: inherit;
        letter-spacing: -.5px;
    }
    body .main {
        margin-top: 30px;
        padding: 10px;
    }
}
h1 {
    font-weight: bold;
    font-size: 2.1em;
    text-transform: uppercase;
    }
    @media (max-width: 600px) {
    h1 {
        font-size: 1.89em;
    }
}
h2{font-size:2.1em;}
h3{font-size:1.6em;}
h4{font-size:1.2em;}
h5{font-size:1.0em;}
h6{font-size:.8em;}
h2,h3,h4,h5,h6 {
    font-weight: bold;
    letter-spacing: .5px;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-bottom: 0px;
    }
    @media (max-width: 600px) {
    h2,h3,h4,h5,h6 {
        letter-spacing: inherit;
        padding-top: .3em;
        padding-bottom: .3em;
    }
}
h2,h3 {
    }
    @media (max-width: 600px) {
    h2,h3 {
        font-size: 90%;
    }
}
table {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 50px 10px 15px 10px;
    width: 85%;
    border: none;
    table-layout:fixed;
    }
    @media (max-width: 600px) {
    table {
        margin-top: 4px;
        margin-bottom: 4px;
        padding: 5px 2px 3px 2px;
        width:100%;
    }
}
table thead tr th {
    /*background-color:#FA5400;*/
    font-weight:bold;
    /*color:white;*/
    color: rgb(17,17,17);
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
tbody tr:nth-child(odd) {
    background-color:#f7f9fc;
}
table tbody tr td {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    border-collapse: collapse;
}
p {
    line-height: 1.714285714285714;
    padding-top: 1px;
    padding-bottom: 1px;
    }
    @media (max-width: 600px) {
    p {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}
ol {
    display: block;
    list-style-type: decimal;
    padding: 5px 5px 5px 20px;
    }
    @media (max-width: 600px) {
    ol {
        padding: 1px 1px 1px 4px;
    }
}
ul  {
    display: block;
    list-style-type: disc;
    padding: 1px 1px 1px 30px;
    }
    @media (max-width: 600px) {
    ul {
        padding: 1px 1px 1px 20px;
    }
}
pre {
    white-space: pre-wrap;
    overflow-y: scroll;
    max-height: 500px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    border-top: 10px solid rgb(201,227,253);
    border-bottom: 10px solid rgb(201,227,253);
    width: 90%;
    }
    @media (max-width: 600px) {
    pre {
        padding: 2px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-top: 5px solid rgb(201,227,253);
        border-bottom: 5px solid rgb(201,227,253);
    }
}
code, code span {
    font-family: Courier;
}
a {
    color: #3498db;
    text-decoration: none;
}
img {
    margin: 10px 0px 10px 0px;
    }
    @media (max-width: 600px) {
    img {
        margin: 4px 0px 4px 0px;
        width: 95%;
    }
}
img.border {
    display: inline-block;
    border:1px solid lightgrey;
    padding: 3px;
}
.sidebar a {
    color: #4c555a;
    text-decoration: none;
    padding-left: 11px;
}
.sidebar a.active {
    color: #3498db;
    text-decoration: none;
}
.sidebar h6 {
    font-size: .90em;
    color: #4c555a;
    padding-top: 2px;
    padding-bottom: 1px;
}
.sidebar a.toctitle {
    padding-left: 0;
    font-size: inherit;
}
blockquote {
    /*border: 2px solid #dfdfdf;*/
    border: 1px solid rgba(58,193,51,.12);
    background-color: #f6fff5;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    margin-top: 15px;
    margin-bottom: 15px;
    }
    @media (max-width: 600px) {
    blockquote {
        padding: 2px 2px 2px 5px;
        margin-bottom: 0px;
        margin-top: 0px;
        width: 90%;
        font-size: .6em;
    }
}
article h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    letter-spacing: 0px;
}
article h1 {
    padding-top: 8px;
    padding-bottom: 5px;
    border-bottom: 2px solid #f4f6f7;
    text-transform: none;
    font-size: 2em;
    width: 65%;
}
article h2 {
    font-size: 1.7em;
}
article a {
    color: #3498db;
    text-decoration: none;
}
article a h3 {
    font-size: 1.2em;
    padding: 10px;
    font-weight: bold;
    color: #3498db;
    text-decoration: none;
}
article p {
    margin: 15px 15px 15px 0px;
    line-height: 1.2;
    /*font-size: 1.1em;*/
}
article h2 {
    padding-top: 0px;
}
.toc-pad {
    margin-left:25px;
}
.guide-nav-container {
    display: flex;
    width: 100%;
}
.guide-nav-column {
     width:49%;
}
.guide-nav-left {
    text-align:left;
}
.guide-nav-right {
    text-align:right;
}
.fs32-aligntop {
    font-size: 32px;
    line-height: 1;
}
.guide-details {
    margin: 15px 15px 15px 0px;
}
.guide-details ul {
    list-style: disc;
}
.guide-details ul li {
    color: #3498db;
    margin-left: 15px;
    line-height: 1.3;
    padding-bottom: 8px;
}
.guide-details ul li a {
    font-weight: bold;
}
.guide-details-li-text{
    color: black;
}
.guide-details h3 {
    padding-top: 0;
}
.new-indicator::after {
    content: "NEW";
    color: white;
    background-color: #3498db;
    padding: 2px;
    font-size: .8rem;
    margin-left: 6px;
    vertical-align: top;
}
.new-indicator-sm::after {
    content: "NEW";
    color: white;
    background-color: #3498db;
    padding: 1px;
    font-size: .6rem;
    margin-left: 4px;
    vertical-align: top;
}
.new-indicator-lg::after {
    content: "NEW";
    color: #3498db;
    padding: 2px;
    font-size: .9rem;
    margin-left: 6px;
    vertical-align: middle;
    border: 1px solid #3498db;
}
.numberCircle {
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    padding: 1px 5px 1px 5px;
    margin: 5px 5px 5px 0px;
    width: 19px;
    border-radius: 50%;
    left: 0;
    top: 3px;
}
.numberCircle.gray {
    background: #939da3;
    border: 2px solid #939da3;
}
.numberCircle.green {
    border: 2px solid #23a04b;
    background: #f6fff5;
    color: #23a04b;
}
aside {
     float: right;
}
aside.note {
    margin-top: 0;
    border-radius: 5px;
    border: 1px solid #f0f4f7;
    border-left-width: 2px;
    width: 262px;
    padding: 8px;
    margin: 0px 0px 0px 40px;
    position: relative;
    z-index: 2;
}
.guide-button {
    float: right;
    background:#f7f7f7;
    border: 1px solid #f0f4f7;
    margin-left: 10px;
    border-radius: 5px;
    padding: 8px 20px 8px 20px;
    }
    @media (max-width: 600px) {
    .guide-button {
        float: inherit;
        font-size: 1.3em;
        margin-left: 0px;
        padding: 2px 2px 2px 2px;
        margin-bottom: 8px;
    }
}
a.guide-button:hover {
    background: #C1C1C1;
}
header form {
    margin-right: 15px;
}
.group-header {
    padding-top: 8px;
}
.group-header h4 {
    padding: 5px;
}
.tile-sm {
    padding: 10px;
    background: #F4F4F4;
    height: 150px;
    width: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5px;
    border-radius: 10px;
}
.tile-med {
    padding: 5px;
    height: 200px;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5px;
    border-radius: 10px;
}
.lt-blue {
    background: #eaeff7;
}
.tile-sm ul, .tile-med ul {
    list-style: none;
    padding: 5px;
}
.tile-sm i, .tile-med i {
    padding: 5px;
}
.tile-sm li h5, .tile-med li h5 {
    line-height: 0.3;
    }
    @media (max-width: 600px) {
    .tile-sm li h5, .tile-med li h5 {
    line-height: 0.5;
    }
}
.show {
    display: block;
}
.hide {
    display: none;
}