<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="Use-case documentation for Consumer & Marketplace APIs">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Feedback functionality via Jira script start -->
    <script type="text/javascript" src="https://jira.nike.com/s/d41d8cd98f00b204e9800998ecf8427e-CDN/-8zrmj1/813003/e3f9d701db6e0507c5c230cc9cd6c181/2.2.4.7/_/download/batch/com.atlassian.plugins.jquery:jquery/com.atlassian.plugins.jquery:jquery.js?collectorId=f435a7c4"></script>
    <script type="text/javascript" src="https://jira.nike.com/s/784790a8404a38458fff296d6cf480cc-T/-8zrmj1/813003/e3f9d701db6e0507c5c230cc9cd6c181/4.0.4/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=f435a7c4"></script>
    <script type="text/javascript">window.ATL_JQ_PAGE_PROPS =  {
	"triggerFunction": function(showCollectorDialog) {
		//Requires that jQuery is available!
		jQuery("#myCustomTrigger").click(function(e) {
			e.preventDefault();
			showCollectorDialog();
		});
	}};</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <!-- Feedback functionality via Jira script end -->
    <script src="{{ 'js/main.js' | relative_url }}"></script>
    <script src="https://kit.fontawesome.com/ab63cce3ae.js" crossorigin="anonymous"></script>
    {% include analytics.html %}
    <link rel="stylesheet" href="https://www.nike.com/assets/ncss/glyphs/2.5/css/glyphs.min.css"/>
    <link rel="stylesheet" href="https://www.nike.com/static/ncss/4.0/dotcom/desktop/css/ncss.en-us.min.css"/>
    <link rel="stylesheet" href="{{ 'css/style.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'css/aviator-two-column.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'css/doc.css' | relative_url }}">
    <link rel="icon" type="image/png" href="{{ 'favicon.png' | relative_url }}">
    <title>{{- page.title -}}</title>
</head>
<body>
<div id="toc"></div>
<div class="main">
    {% include header.html %}
    <section>
        {{ content }}
    </section>
</div>
<header>
    {% include sidebar.html %}
</header>
</body>
</html>
