#sidebar {
  display: none !important; }

.guide-button {
  display: none !important; }

html, body {
  background-color: white !important;
  padding: 0px;
  margin: 0px; }

pre {
  border: none !important;
  width: 100% !important;
  max-height: none !important;
  display: inline !important; }

pre code {
  border: none !important; }

code, code span {
  display: inline !important;
  border: none !important; }

table {
  width: 100% !important; }

.main {
  border: none !important;
  width: 100%;
  /*background-color: white !important;*/ }

/* insert the actual URL after links, prepend relative links */
a[href^="/doc"]::after {
  content: " ( https://developer.niketech.com/nde-docs" attr(href) " )"; }

a[href^="http"]::after, a[href^="https"]::after {
  content: " ( " attr(href) " )"; }

/* header: h1 text centered top except for first page, page count center bottom */
@page {
  @top {
    content: string(doctitle, first-except); }
  @bottom {
    content: counter(page); }
  @bottom-right {
    content: "Nike Inc."; } }
/* generate toc */
/* h2....page number as anchor link */
#toc a:after {
  content: leader(".") target-counter(attr(href), page); }

#toc li {
  list-style: none; }

/* sets h1 text to 'doctitle' variable */
h1 {
  string-set: doctitle content(); }
